extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Деловые консультации'}
block content_block
	+singleHead({
		img: 'development',
		page: 'Проекты',
		title: array.title_inner,
		btn: true,
	})
	section.workSingle 
		.section_in 
			.workSingle_main 
				+serviceWork
				+target
				+settings({
					list: true,
				})
				.workGraph.global-mb 
					.workGraph_head.section_title 
						h3 Реклама в РСЯ
						span.small-title Период работы рекламы с 03.09.21 по 16.07.22
						p Для рекламы в сетях Яндекса были собраны ключевые слова, разбиты на группы, разработаны баннеры, широкоформатные изображения, прописаны быстрые ссылки, уточнения, UTM-метки, заполнена визитка.
					.workGraph_body 
						ul.grid-3 
							-for(i = 0; i < 6; i++)
								- var label = ['Расход бюджета всего', 'Показы', 'CTR', 'Клики', 'Заявки', 'Цена заявки']
								- var value = ['561 938,18 руб', '5 504 351', '0,88%', '48 368', '271', '2 073,57 руб.']
									li 
										p=label[i]
										span=value[i]
				.workGraph.global-mb  
					.workGraph_head.section_title 
						h3 Реклама поиск
						span Период работы рекламы с 03.09.21 по 16.07.22
						p Для рекламы в сетях Яндекса были собраны ключевые слова, разбиты на группы, разработаны баннеры, широкоформатные изображения, прописаны быстрые ссылки, уточнения, UTM-метки, заполнена визитка.
					.workGraph_body 
						ul.grid-3 
							-for(i = 0; i < 6; i++)
								- var label = ['Расход бюджета всего', 'Показы', 'CTR', 'Клики', 'Заявки', 'Цена заявки']
								- var value = ['561 938,18 руб', '5 504 351', '0,88%', '48 368', '271', '2 073,57 руб.']
									li 
										p=label[i]
										span=value[i]
				.workSlider_block.global-mb 
					+sectionHead({
						title: 'Другие проекты',
						class: 'workSlider'
					})
					.workSlider_w 
						.workSlider_slider.swiper 
							.swiper-wrapper
								-for(i = 0; i < 12; i++) 
									.swiper-slide 
										.project_item.hovered-transform 
											a(href="#")
												.project_item_img
													img(src="i/project/project.jpg", alt="")
												.project_item_content 
													h3.small-title Дизайн интерьера “WP Interior design”
													ul.project_tag_list 
														each item in ['Web-разработка', 'Контекстная реклама']
															li 
																a(href="#")=`#${item}`
